@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:wght@300&display=swap");

* {
  font-family: Poppins;
}

html {
  background-color: #f8edeb;
}

.body {
  padding: 0;
  margin-top: 10%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.check-boxes {
  display: inline-block;
  text-align: left;
}

h1,
h2,
h3 {
  font-family: Pangolin;
  margin: 0;
  padding: 0;
}

nav {
  font-size: 80%;
  padding: 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.instruction-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.about-box {
  background-color: #cdb4db;
  border: 5px solid #353535;
  padding: 1rem;
  margin: auto;
  border-radius: 1em;
  color: black;
  width: 100%;
  max-width: 800px;
}

.preference-box {
  background-color: #ffcb6b;
  border: 5px solid #353535;
  padding: 1rem;
  margin: auto;
  border-radius: 1em;
  color: black;
  width: 100%;
  max-width: 400px;
}

.date-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 0.75em;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #679436;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.lucky-button {
  background-color: #087e8b;
}

.date-button:hover {
  border-color: rgba(255, 255, 255, 1);
}

.form-input {
  border: none;
  border-radius: 0.5em;
  height: 28px;
  line-height: 28px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #e0fbfc;
}

.form-box {
  background-color: #a8dadc;
  border: 5px solid #353535;
  padding: 1rem;
  margin: auto;
  border-radius: 1em;
  color: black;
  max-width: 400px;
  width: 100%;
}

input,
label {
  color: black;
}

.date-type label,
.cost-type label,
.activity label {
  display: block;
}

.radio-container {
  background: #e0fbfc;
  border-radius: 0.5em;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}

.preferences-radio-container {
  background: #ffdda6;
}

.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.5em;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.2s all ease-in-out;
  width: 125px;
  cursor: pointer;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container > label.selected-type {
  background: #ff8fab;
  /* border: 1px solid #f28482; */
}

.preferences-radio-container > label.selected-type {
  background: #ffb3c6;
}

.activity input {
  max-width: 250px;
  width: 100%;
}

.modal-background {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 300ms;
}

.modal-fade-out {
  animation: fadeOut 300ms;
}

.modal-container {
  width: 100%;
  max-width: 400px;
  height: 250px;
  border-radius: 1em;
  background-color: #e9edc9;
  border: 5px solid #353535;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.instruction-modal-container {
  max-width: 600px;
  height: max-content;
  background-color: #f4acb7;
  top: 10%;
}

.modal-close-button {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modal-container .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media all and (max-width: 30em) {
  .date-button {
    display: block;
    margin: 0.2em auto;
  }
}
